// Customizing Bootstrap with Sass variables:
// https://getbootstrap.com/docs/5.0/customize/sass/

// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500;1,800&family=Roboto:ital,wght@0,500;1,300;1,900&family=Space+Mono:wght@700&display=swap');

body {
  background: #16161a;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: ivory;
  font-family: 'Roboto', sans-serif;
}

.div {
  padding: 1rem;
}

.nav-link {
  color: ivory;
}

.photo {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: auto;
}

@media (max-width: 600px) {
  .photo {
    margin-right: 0;
  }
}

.progress {
  margin: 0.5rem;
}

.title {
  margin-top: 8rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    background-image: linear-gradient(
      135deg,
      rgb(102, 126, 234) 0%,
      rgb(118, 75, 162) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
  }

  h3 {
    color: #7f5af0;
    font-style: italic;
  }
}

.engineer {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 20rem;
  margin-top: 8rem;

  img {
    object-fit: cover;
    height: 100%;
  }
}

p {
  margin-top: 10rem;
  font-family: 'Space Mono', monospace;
  font-style: italic;
  text-align: center;
  padding: 0 1rem;
}

.colaborations {
  background-image: linear-gradient(
    135deg,
    rgb(102, 126, 234) 0%,
    rgb(118, 75, 162) 100%
  );
  height: 3.5rem;
  width: 100%;
  margin: 0rem 0 5rem 0;
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    object-fit: cover;
    height: 100%;
    width: auto;
    filter: brightness(0) invert(1);
  }
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.tech-stack {
  height: 3.5rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  padding-left: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // test
  

  img {
    object-fit: cover;
    margin: 0 .3rem;
    height: 100%;
    width: auto;
    margin-bottom: 1rem;
    display: inline-block;
    //test
    animation: jump 2s infinite;
   
  }
}

.experience {
  margin-top: 5rem;
  margin: auto;
  max-width: 30%;
  min-width: 300px;
  margin-bottom: 5rem;

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.experience-title {
  background-image: linear-gradient(
    135deg,
    rgb(102, 126, 234) 0%,
    rgb(118, 75, 162) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.progress-bar {
  background-color: #7f5af0;
}

.card-title {
  font-family: 'Space Mono', monospace;
}

.contacts {
  background-image: linear-gradient(
    135deg,
    rgb(102, 126, 234) 0%,
    rgb(118, 75, 162) 100%
  );
  height: 8rem;
  margin-top: 10rem;
  width: 100%;
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacts-links {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 100%;

  a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
  }
}

.contacts-text {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 20px; /* Place the button 20px from the left */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topButton:hover {
  background-color: #444; /* Add a dark-grey background on hover */
}